/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgba(54, 54, 54, 0.945);
  position: fixed;
  top: 0px;
  width: 100%;
}

/* Navbar links */
#navbar .myA {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 13px;
  text-decoration: none;
  cursor: pointer;
}

#navbar .myA:hover{
  background: rgb(97, 144, 247);
}

.topnav .icon{
  display: none;
}

.main{
  margin-top: 30px;
}
